body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
}
h1, h2{
  margin-left: 30px;
}
.letra{
    font-size: 22px;
    margin-left: 40px;
}
nav {
    background-color: #333;
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }
